.uikit-currency-input__root {
  position: relative;
}

.uikit-currency-input__prefix {
  display: none;
  width: uikit-space(1.25);
  line-height: 1.4;
  position: absolute;
  text-align: center;
  padding: 0.4em 0;
  top: 0;
  bottom: 0;
  left: 0;
}

// .uikit-currency-input__input {
//   padding-left: uikit-space(1.25);
// }
