$uikit-colour-Primary: #008752;
$uikit-colour-Link: #07b470;
$mobile-break-point:  640px;

@import "uikit";

@import "overrides";
@import "table";
@import "currency";
@import "dropzone";
@import "parsely";
@import "search-list";
@import "step-indicator";

@media (min-width: 320px) {
  body {
    font-size: 90%;
  }
}
.footer--fixed-bottom {
  @media (max-width: $mobile-break-point) and (min-height: 666px) {
    position: fixed;
    box-sizing: border-box;
    padding: 0.6em;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.js-hidden {
  display: none;
}

.mobile-hidden {
  display: none;

  @media (min-width: 769px) {
    display: inherit;
  }
}

.date-field {
  box-sizing: border-box;
  display: block;
  width: 100%;

  &::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
  }
  &::-webkit-datetime-edit-text {
    color: $uikit-colour-Border;
    padding: 0 uikit-space(0.125);
  }
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field, {
    text-transform: uppercase;
    padding: 0;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-calendar-picker-indicator {
    background-color: transparent;
  }
}

.uikit-body {
  dl {
    dt {
      display: block;
      text-transform: uppercase;
      font-size: 80%;
      color: $uikit-colour-Border-70;
    }
    dd {
      display: block;
      padding-left: 0;
    }
  }
}

.item-table {
  th:first-letter {
    text-transform: uppercase;
  }
}
