$uikit-colour-Primary: #008752;
$uikit-colour-Link: #07b470;
$mobile-break-point:  640px;

@import "uikit";

@import "overrides";
@import "table";
@import "currency";
@import "dropzone";
@import "parsely";

@media (max-width: $mobile-break-point) {
  .footer--fixed-bottom {
    position: absolute;
    box-sizing: border-box;
    padding: 0.6em;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
