$uikit-colour-Primary: #008752;

@import "uikit";

$mobile-break-point: 640px;

.uikit-grid .container:before,
.uikit-grid .container:after,
.uikit-grid .container-fluid:before,
.uikit-grid .container-fluid:after {
  content: none;
}

.uikit-body {
  p {
    margin-bottom: 0.8em;
  }
}

.uikit-header {
  padding: 1.25em 0;
  margin-bottom: 1em;
}

.uikit-fileupload input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

a.uikit-btn {
  color: #fff;

  &:hover,
  &:focus {
    background-color: $uikit-colour-Primary--30;
  }
}

.uikit-btn {
  text-align: center;

  @media (max-width: $mobile-break-point) {
    display: block;
  }
}

button.uikit-btn {
  @media (max-width: $mobile-break-point) {
    display: block;
    width: 100%;
  }
}

@media (max-width: $mobile-break-point) {
  .footer--fixed-bottom {
    position: absolute;
    box-sizing: border-box;
    padding: 0.6em;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   margin:0;
   padding:0;
   width: 100%;
 }

 table tr {
   padding: 5px;
 }

 table th, table td {
   text-align: center;
 }

 table td {

   &:first-child {
     padding-left: 0;
   }
   &:last-child {
     padding-right: 0;
   }

   padding: 10px;
 }

 table th {
   font-size: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
 }

 @media screen and (max-width: $mobile-break-point) {

   table {
     border: 0;
   }

   table thead {
     display: none;
   }

   table tr {
     display: block;
     margin-bottom: 10px;
     padding: 5px 0;
   }

   table td {
     display: block;
     font-size: 13px;
     padding: 10px 0;
     text-align: right;
   }

   table td:before {
     content: attr(data-label);
     float: left;
     text-transform: uppercase;
     font-weight: bold;
   }
 }
