.uikit-grid .container:before,
.uikit-grid .container:after,
.uikit-grid .container-fluid:before,
.uikit-grid .container-fluid:after {
  content: none;
}

.uikit-body {
  p {
    margin-bottom: uikit-space(0.5);
    max-width: none;
  }
  h2 {
    margin: uikit-space(1.125) 0 uikit-space(0.5);
  }
  .uikit-text-input {
    padding: uikit-space(0.5) uikit-space(0.25);
  }
}

.uikit-header {
  padding: uikit-space(1) 0;
  margin-bottom: uikit-space(1);
}

.uikit-fileupload input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

a.uikit-btn,
a.uikit-btn.uikit-btn--primary {
  color: #fff;

  &:hover,
  &:focus {
    background-color: $uikit-colour-Primary--30;
  }
}

a.uikit-btn.uikit-btn--secondary {
  border-bottom: 1px solid $uikit-colour-Secondary;

  &:hover,
  &:focus {
    background-color: $uikit-colour-Secondary--30;
  }
}

.uikit-text-input.invalid {
  @extend .uikit-text-input--invalid;
}

a.uikit-btn.uikit-btn--tertiary {
  color: $uikit-colour-Text;

  &:hover,
  &:focus {
    background-color: $uikit-colour-Primary-10;
    border: 1px solid $uikit-colour-Primary;
  }
}

.uikit-btn {
  text-align: center;

  @media (max-width: $mobile-break-point) {
    display: block;
  }
}

input.uikit-btn,
button.uikit-btn {
  @media (max-width: $mobile-break-point) {
    width: 100%;
  }
}
