.uikit-grid .container:before,
.uikit-grid .container:after,
.uikit-grid .container-fluid:before,
.uikit-grid .container-fluid:after {
  content: none;
}

.uikit-body {
  p {
    margin-bottom: uikit-space(0.5);
    max-width: none;
  }
  h1 {
    line-height: 1.25;
  }
  h3 {
    margin: uikit-space(1.125) 0 uikit-space(0.5);
    letter-spacing: -0.05em;

    &:first-of-type {
      margin: uikit-space(0.5) 0 uikit-space(0.5);
    }
  }
  .uikit-text-input {
    padding: uikit-space(0.5) uikit-space(0.25);
  }
}

.uikit-keyword-list {
  font-size: 125%;
}

.uikit-text-input__label {
  margin-bottom: uikit-space(0.5);
}

@media (min-width: 1024px) {
  .uikit-header {
    padding: 7.25% 0;
  }
}

.uikit-header--thin {
  margin-bottom: 0;
  font-weight: bold;
  padding: uikit-space(0.5) 0;
  text-align: center;
}

.uikit-header--gradient {
  background-image: linear-gradient(-45deg, rgba(0,122,69,1) 50%, rgba(253,198,0,1) 150%);
}

.uikit-fileupload input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

a.uikit-btn,
a.uikit-btn.uikit-btn--primary {
  color: #fff;

  &:hover,
  &:focus {
    background-color: $uikit-colour-Primary--30;
  }
}

a.uikit-btn.uikit-btn--secondary {
  border-bottom: 1px solid $uikit-colour-Secondary;

  &:hover,
  &:focus {
    background-color: $uikit-colour-Secondary--30;
  }
}

.uikit-text-input.invalid {
  @extend .uikit-text-input--invalid;
}

a.uikit-btn.uikit-btn--tertiary {
  color: $uikit-colour-Text;

  &:hover,
  &:focus {
    background-color: $uikit-colour-Primary-10;
    border: 1px solid $uikit-colour-Primary;
  }
}

.uikit-footer {
  margin-top: uikit-space(1);
  padding-left: 0;
  padding-right: 0;
}

.uikit-btn {
  text-align: center;

  @media (max-width: $mobile-break-point) {
    display: block;
  }
}

.uikit-control-input {
  display: block;
}

input.uikit-btn,
button.uikit-btn {
  @media (max-width: $mobile-break-point) {
    width: 100%;
  }
}
