.suggestion-search__input {
  font-size: 125%;
  padding-left: 3rem !important;
}

.suggestion-search {
  margin: 0;
  position: relative;
  z-index: 1;
}

.suggestion-search__root {
  width: 100%;
}

.suggestion-search__icon {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 0;
  width: 3rem;
  z-index: 10;
  padding: uikit-space(0.5);

  .suggestion-search__svg {
    stroke: $uikit-colour-Border;
  }
}

.suggestion-search__menu {
  transform: translateY(-2px);
  box-sizing: border-box;
  width: 100%;
  background: white;
  display: block;
  border: 2px $uikit-colour-Border-80 solid;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
}

.suggestion-search__item {
  font-size: 1rem;
  border-top: 1px $uikit-colour-Border-40 solid;

  &:first-child {
    border-top: none;
  }
}

.suggestion-search__link {
  transition: none;
  display: block;
  position: relative;
  padding: uikit-space(0.5) uikit-space(0.375);
  border-bottom: none !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: uikit-space(2);

  &:hover,
  &:focus {
    color: white;
    background-color: $uikit-colour-Secondary !important;

    &::after {
      color: white;
    }
  }
  &::after {
    position: absolute;
    padding: uikit-space(0.5) uikit-space(0.375);
    top: 0;
    right: 0;
    bottom: 0;
    content: "→";
    color: $uikit-colour-Primary;
    padding-left: uikit-space(1);
  }
}

.tt-highlight {
  background-color: rgba(255, 197, 34, 0.5);
}

.suggestion-search__item--highlighted {
  .suggestion-search__link {
    background-color: $uikit-colour-Secondary;
    color: white;

    &::after {
      color: white;
    }
  }
}
