.uikit-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  margin:0;
  padding:0;

  tr {
    padding: uikit-space(0.25);
  }

  th, td {
    text-align: left;
    vertical-align: middle;
  }

  td {
    padding: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.item-table-form {
  @media screen and (max-width: $mobile-break-point) {
    border: 0;

    thead {
      display: none;
    }

    tr {
      display: block;
      margin-bottom: 10px;
      padding: 5px 0;
      border-bottom: 1px $uikit-colour-Border-70 solid;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      display: flex;
      flex-direction: row;
      text-align: right;
      align-items: center;
    }

    .uikit-text-input__root {
      flex: 3;
    }

    td::before {
      margin-bottom: .8em;
      content: attr(data-label);
      flex: 2;
      text-align: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
