.uikit-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  margin:0;
  padding:0;

  tr {
    padding: uikit-space(0.25);
  }

  th, td {
    text-align: left;
  }

  td {
    padding: uikit-space(0.25);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  // @media screen and (max-width: $mobile-break-point) {
  //
  //   thead {
  //     display: none;
  //   }
  //
  //   tr {
  //     display: block;
  //     margin-bottom: uikit-space(0.25);
  //     padding: uikit-space(0.25) 0;
  //     border-bottom: 1px $uikit-colour-Border solid;
  //
  //     &:last-child {
  //       border-bottom: none;
  //     }
  //   }
  //
  //   td {
  //     display: block;
  //     padding: uikit-space(0.25) 0;
  //     text-align: right;
  //   }
  //
  //   td:before {
  //     content: attr(data-label);
  //     float: left;
  //     margin-bottom: uikit-space(0.25);
  //   }
  // }
}
