---
---

<h1>Examples</h1>

{% include typography/badge.html text="Prototype" %}

{% include typography/callout.html text="This is a callout." %}

<form id="form" data-parsley-validate="" data-parsley-error-class="invalid">

(Hidden error container below - hit submit button to show)

{% include forms/error-container.html text="Help text for when something goes wrong" %}

{% include forms/text-field.html id="text-field" label="Text input" required=true %}

{% include forms/date-field.html id="date-field" label="Pick a date" required=true %}

{% include forms/submit-button.html %}

</form>

{% include buttons/start-button.html href="#" %}

{% include buttons/control-button.html onclick="alert('hello')" text="Control Button" %}

{% include forms/radio-field.html options="Yes|No|Maybe" question="Do you like pie?" %}
