// 50 Shades of Grey

$dark-grey:       #313131;
$grey:            #6e6e6e;
$light-grey:      lighten($grey, 30%);
$lighter-grey:    #f0f3f5;

$aqua:          #18788d;
$navy:          #043751;
$dark-navy:     darken($navy, 10%);

// Brand Colors

$straya-green:  #008752;
$straya-yellow: #FFC423;

// Status Colors

$green:           #007554;
$light-green:     #e6efc2;

$red:             #cc0000;
$light-red:       #f9dede;

$yellow:          #f9c642;
$light-yellow:    #fdf7dc;

$blue:            #00bfe9;
$light-blue:      #e8f5fa;


// Seperation of Pretty colors from contextual colors

$action-color:              $aqua;
$action-color--hover:       darken($action-color, 5%);
$action-color--active:      darken($action-color, 10%);
$action-color--disabled:    $light-grey;
$action-color--inactive:    $lighter-grey;

$focus-color:               lighten($aqua, 30%);
$error-color:               $red;
$success-color:             $green;
$warning-color:             $yellow;
$info-color:                $blue;
$default-color:             $dark-grey;

$body-text-color:           $dark-grey;
$body-text-color--inverted:  white;
$body-text-color--secondary: $grey;


$base-border-color:         $light-grey;

$link-color:                lighten($action-color, 10%);

$button-bg-color:             $action-color;
$button-bg-color--hover:      $action-color--hover;
$button-bg-color--active:     $action-color--active;
$button-bg-color--disabled:   $action-color--disabled;

$breadcrumbs-bg-color:        $lighter-grey;

$button-text-color:           white;

$input-focus-color:         $focus-color;

$border-color:              $light-grey;
$border-highlight-color:    $grey;

$background-color:          white;
$background-color--inverted: $dark-grey;
$background-color--secondary: $lighter-grey;

// Badge colors - see _sass/components/_badge.scss

$badge-prototype-color:     $dark-grey;
