// 50 Shades of Grey

$dark-grey:       #313131;
$grey:            #6e6e6e;
$light-grey:      lighten($grey, 30%);
$lighter-grey:    #f0f3f5;

$aqua:          #18788d;

// Brand Colors

$straya-green:  #008752;
$straya-yellow: #FFC423;

// Status Colors

$green:           #007554;
$light-green:     #e6efc2;

$red:             #cc0000;
$light-red:       #f9dede;

$yellow:          #f9c642;
$light-yellow:    #fdf7dc;

$blue:            #00bfe9;
$light-blue:      #e8f5fa;

$action-color: $aqua;

$input-focus-color: lighten($aqua, 30%);

$border-color:      $light-grey;
$background-color:  white;

$error-color: $red;
$success-color:                $green;
$warning-color:                $yellow;
$info-color:                   $blue;

$body-text-color:              $dark-grey;
