<script>
document.addEventListener("DOMContentLoaded", function () {

  $("#feedback-yes").on("click", function (event) {
    event.preventDefault();
    $(".js-feedback-buttons").hide();
    $(".js-feedback-positive").show();
  });

  $("#feedback-no").on("click", function (event) {
    event.preventDefault();
    $(".js-feedback-buttons").hide();
    $(".js-feedback-negative").show();
  });

  $('#comment-form').on("submit", function (event) {
    event.preventDefault();
    $(".js-feedback-negative").hide();
    $(".js-feedback-comment").show();
  });
});
</script>

<div class="feedback-widget">
  <h3>Did this page answer your question?</h3>
  <div class="feedback-widget__inner">
    <div class="feedback-widget__button-container js-feedback-buttons">
      <button id="feedback-yes" class="feedback-widget__yes">Yes</button>
      <button id="feedback-no" class="feedback-widget__no">No</button>
    </div>
    <div class="feedback-widget__positive js-feedback-positive js-hidden">
      <picture class="feedback-widget__tick">
      <img width="76" src="/assets/media/green.svg">
      </picture>
      <p class="feedback-widget__follow-up">Thanks! We are always working to improve our services.</p>
    </div>
    <div class="feedback-widget__feedback js-feedback-negative js-hidden">
      <form id="comment-form">
        <p class="feedback-widget__follow-up">Sorry to hear that. What went wrong?</p>
        <p>
        <label for="did-not-find" class="uikit-control-input">
          <input id="did-not-find" class="uikit-control-input__input" type="checkbox" name="did-not-find">
          <span class="uikit-control-input__text">I didn't find what I was looking for</span>
        </label>
        </p>
        <p>
        <label class="uikit-control-input" for="confusing">
          <input id="confusing" class="uikit-control-input__input" type="checkbox" name="confusing">
          <span class="uikit-control-input__text">I found the information on this page confusing</span>
        </label>
        </p>
        <p>
        <label for="too-long-to-find" class="uikit-control-input">
          <input id="too-long-to-find" class="uikit-control-input__input" type="checkbox" name="too-long-to-find">
          <span class="uikit-control-input__text">It took me too long to find the answer to my question</span>
        </label>
        </p>
        <p>
        <label for="broken" class="uikit-control-input">
          <input id="broken" class="uikit-control-input__input" type="checkbox" name="broken">
          <span class="uikit-control-input__text">Something on the page is broken</span>
        </label>
        </p>
        <input type="submit" class="uikit-btn" value="Send Feedback">
      </form>
    </div>
    <div class="js-feedback-comment js-hidden">
      <picture class="feedback-widget__tick">
      <img width="76" src="/assets/media/green.svg">
      </picture>
      <p class="feedback-widget__follow-up">Thanks for your feedback. We are always working to improve our services.</p>
    </div>
  </div>
</div>

