---
---

@import "/assets/uikit.css";

.uikit-btn {
  display: inline-block;
  height: auto;
  padding: 0.6em 1.2em;
}

.uikit-fileupload input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
