<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function () {
  var listSearch = new List("search-list", {
    valueNames: ['js-item-name']
  });

  $('#list-search-input').on('focus', function () {
    $('.js-search-label').hide()
  });

  $('#list-search-input').on('blur', function () {
    var filterValue = $('#list-search-input').val();
    if (filterValue.trim() === "") { $('.js-search-label').show() }
  });

});
</script>

<div id="search-list">
<div class="search-list--input-container">
  <div class="search-list--input-wrapper">
    <input id="list-search-input" type="text" class="fuzzy-search uikit-text-input uikit-text-input--block" placeholder="Search (e.g. make a claim)">
  </div>
</div>
<ul class="search-list__list list">
