.accordion {
  margin: $base-spacing 0 0;
  border: 1px solid $base-border-color;

  + .accordion {
    margin: 0 0 $base-spacing 0;
    border-top: none;
  }
}

.accordion__summary {
  position: relative;
  font-size: 112.5%;
  font-weight: bold;
  background: $background-color--secondary;
  padding: $small-spacing $base-spacing;
  z-index: 0;

  &::-webkit-details-marker {
    display:none;
  }
  &:after {
    color: $border-highlight-color;
    content: "\00002B";
    position: absolute;
    line-height: 1;
    font-size: $large-font-size;
    padding: $small-spacing $base-spacing;
    right: 0;
    top: 0;
  }
  &:focus {
    z-index: 1;
  }
}

.accordion__details {
  + .accordion__details {
    border-top: 1px solid $base-border-color;
  }

  table {
    margin: 0;
  }

  &[open] {
    .accordion__summary {
      border-bottom: 1px solid $base-border-color;

      &:after {
        content: "\002212";
      }
    }
  }
}

.accordion__content {
  padding: $base-spacing;

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
