.badge__root {
  display: inline-block;
  background-color: $badge-prototype-color;
  border-radius: $large-border-radius;
  padding: $tiny-spacing $small-spacing;
  line-height: 1;
  letter-spacing: 1px;
  color: lighten($badge-prototype-color, 75%);
  font-size: 0.875rem;
}

