
.breadcrumbs {
  display: none;
  width: 100%;
  margin: 0;
  background-color: $breadcrumbs-bg-color;
  color: $body-text-color;

  @include media($tablet) {
    display: inline-block;
  }
}

.breadcrumbs__list {
  margin: 0;
  padding: $small-spacing 0 (0.8 * $medium-spacing) 0;
  line-height: $medium-spacing;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: $small-font-size;
  color: $body-text-color;

  &:not(:last-child) {
    background-repeat: no-repeat;
    background-position: right;
    background-size: $tiny-spacing auto;

    &:after {
      content: "\00203A";
      text-align: center;
      color:  $border-color;
      padding: 0 $small-spacing;
      font-size: $large-font-size;
      line-height: 1;
    }
  }
}

.breadcrumbs--inverted {
  background-color: $background-color--inverted;

  .breadcrumbs__item {
    color: $body-text-color--inverted;
  }
  .breadcrumbs__link {
    color: $body-text-color--inverted;
    &:last-child {
      a  {
      }
    }
  }
}
