.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  height: $base-spacing * 2;
  margin: 0 $base-spacing $small-spacing 0;
  padding: $small-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  text-decoration: none;
  font-weight: $bold-font-weight;

  @include media($tablet) {
    height: $base-spacing * 1.75;
    padding: ($tiny-spacing * 1.25) $medium-spacing;
  }

  &[disabled],
  &.disabled {
    &,
    &:hover,
    &:active,
    &:focus {
      cursor: not-allowed;
      border-color: $button-bg-color--disabled;
      background-color: $button-bg-color--disabled;
      color: $body-text-color;
    }
  }
}

.button--primary {
  background: $button-bg-color;
  border-color: $button-bg-color;
  color: white;

  &:hover {
    background: $button-bg-color--hover;
    border-color: $button-bg-color--hover;
  }

  &:active,
  &:focus {
    background: $button-bg-color--active;
    border-color: $button-bg-color--active;
  }

  &:disabled {
    background: $button-bg-color--disabled;
    border-color: $button-bg-color--disabled;
  }
}
