.multiple-choice {

}

.multiple-choice__label {
  font-size: $large-font-size;
  font-weight: 600;
  line-height: $base-heading-leading;
}

.multiple-choice__hint,
.multiple-choice__description {
  color: $body-text-color--secondary;
}

.multiple-choice__list {
  list-style: none;
  padding-left: 0;

  @include media($tablet) {
    max-width: $mobile-minwidth;
  }
}

.multiple-choice__option {
  position: relative;
  margin: $small-spacing 0;
}

.multiple-choice__option-label {
  padding: $small-spacing $base-spacing $small-spacing $large-spacing;
  padding-left: $large-spacing;
  display: block;
  border-radius: 2px;
  width: auto;
  background: $action-color--inactive;
  border: 1px solid $border-color;
  cursor: pointer;
  margin: 0;

  &:hover {
    border-color: $border-highlight-color;
  }
}

.multiple-choice__input {
  @include transform(translateY(-50%));
  margin-left: $small-spacing * 1.5;
  position: absolute;
  top: 50%;

  &:focus + .multiple-choice__option-label {
    border-color: $border-highlight-color;
  }
  &:checked + .multiple-choice__option-label {
    background-color: $button-bg-color;
    border-color: $button-bg-color--hover;
    color: $button-text-color;

    &:hover {
      border-color: $button-bg-color--active;
    }
  }
}
