.scroll-form__container {
  height: 100vh;
  overflow: scroll;
}

.scroll-form__questionset {
  transition: opacity 500ms 250ms ease-in-out;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 0.1;
}

.scroll-form__questionset--active {
  transition: opacity 500ms 250ms ease-in-out;
  opacity: 1;
}

.scroll-form__question {
  width: 100%;
  display: block;
  padding-bottom: $large-spacing;
}

.scroll-form__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
