table {
  border-collapse: collapse;
  margin: $base-spacing 0;
  width: 100%;
}

tr:nth-child(even) {
  background-color: $lighter-grey;
}

td,
th {
  border-bottom: solid 1px $light-grey;
  padding: $tiny-spacing;
  text-align: left;

  @include media($tablet) {
    padding: $small-spacing;
    font-size: initial;
  }
}

thead {
  border-bottom: solid 2px $grey;
}
