<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body>
    <header>
      <div class="wrapper"><p class="callout__root">This is a prototype. Please don't fill it in with your real information.</p></div>
    </header>
    <main>
    <div class="wrapper">{{ content }}</div>
    </main>
    <script src="/assets/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/vendor/parsley.min.js"></script>
  </body>

</html>
