<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/uikit.css">
  </head>

  <body class="uikit-body">
    <main class="uikit-grid">
      <div class="container">
        <header>
          <div>
            <div class="uikit-page-alerts uikit-page-alerts--warning">This is a prototype. Please don't fill it in with your real information.</div>
          </div>
        </header>
        {{ content }}
      </div>
    </main>
    <script src="/assets/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/vendor/parsley.min.js"></script>
  </body>

</html>
