<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>

  <body class="uikit-body">
    <main class="uikit-grid">
      {% include navigation/header.html %}
      <header class="uikit-header uikit-header--gradient">
        <div class="container">
          <h2>What would you like help with today?</h2>
          {% include lists/suggestion-search.html placeholder="Search (e.g. Make a claim)" %}
        </div>
      </header>
      <div class="container">{{ content }}</div>
      <footer class="uikit-footer"><div class="container">{{ page.footer }}</div></footer>
    </main>

    {% include scripts.html %}
  </body>
</htmL>
