<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.min.css">
  </head>

  <body class="uikit-body">
    <main class="uikit-grid">
      <header class="uikit-header uikit-header--dark uikit-header--thin">
        <div class="container">Header</div>
      </header>
      <header class="uikit-header">
        <div class="container">{{ page.hero }}</div>
      </header>
      <div class="container">{{ content }}</div>
      <footer class="uikit-footer"><div class="container">{{ page.footer }}</div></footer>
    </main>
  </body>
</htmL>
