<table class="uikit-table">
  <thead>
    <tr>
      <th>Item number</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    {% include forms/item-row.html %}
    {% include forms/item-row.html %}
    {% include forms/item-row.html %}
  </tbody>
</table>

{% include buttons/link-button.html text="Add another item" className="uikit-btn--tertiary uikit-btn--block" onclick="addRow()"%}

<script type="text/javascript">
  var addRow = function() {
    var xhr = new XMLHttpRequest();
    xhr.responseType = 'document';

    xhr.open('GET', window.location.href);
    xhr.onload = function() {
      var tableRow = this.response.querySelector('.item-row');
      var tableBody  = document.querySelector('.uikit-table tbody');

      tableBody.appendChild(tableRow);
    };

    xhr.send();
  }
</script>
