{% assign options = include.options | split: "|" %}
{% assign question_slug = include.question | slugify %}

<div class="multiple-choice {{ include.className}}">
  <label class="multiple-choice__label" id="q-{{ question_slug }}">{{ include.question }}</label>
  {% if include.hint %}
    <label class="multiple-choice__hint">{{ include.hint }}</label>
  {% endif %}
  <ul class="multiple-choice__list">
    {% for option in options %}
      {% assign option_slug = option | slugify %}
      <li class="multiple-choice__option">
        <input
          {% if include.required %}data-parsley-required{% endif %}
          aria-describedby="q-{{ question_slug}}"
          class="multiple-choice__input"
          id="{{ question_slug }}__{{ option_slug }}"
          name="{{ question_slug }}"
          type="{{ include.type | default: 'radio' }}"
          data-parsley-errors-container="#parent__{{ question_slug }}"
          data-parsley-error-message="{{ include.validation_message }}"
          value="{{ question_slug }}__{{ option_slug }}">
        <label
          class="multiple-choice__option-label"
          for="{{ question_slug }}__{{ option_slug }}">{{ option }}</label>
      </li>
    {% endfor %}
  </ul>
  {% if include.description %}
    <p class="multiple-choice__description">{{ include.description }}</p>
  {% endif %}
</div>
