{% assign id=include.id %}
{% assign name=include.id %}

{% if include.required %}
  {% assign required="required" %}
{% endif %}

<div class="text-field {{ include.className | default: null }}">
  <label class="text-field__label" for="{{ include.id | default: id }}">
    {{ include.label }}
  </label>
  {% if include.hint %}
    <label class="text-field__hint" for="{{ include.id | default: id }}">{{ include.hint }}</label>
  {% endif %}
  <input
    class="text-field__input"
    placeholder="{{ include.placeholder }}"
    type="{{ include.type | default: "text" }}"
    id="{{ include.id }}"
    value="{{ include.value | default: "" }}"
    name="{{ include.name | default: name }}"
    {{ required }}
    {% if include.pattern %}data-parsley-pattern="{{ include.pattern }}"{% endif %}
    {% if include.validation_message %}data-parsley-error-message="{{ include.validation_message }}"{% endif %}
  />
  {% if include.description %}
    <p class="text-field__description">{{ include.description }}</p>
  {% endif %}
</div>
