{% assign id=include.id %}
{% assign name=include.id %}

{% if include.required %}
  {% assign required="data-parsley-required='true'" %}
{% endif %}

<p class="uikit-text-input__root {{ include.className | default: null }}">
  {% if include.label %}
    <label class="uikit-text-input__label" for="{{ include.id | default: id }}">
      {{ include.label }}
    </label>
  {% endif %}
  {% if include.hint %}
    <label class="uikit-text-input__hint" for="{{ include.id | default: id }}">{{ include.hint }}</label>
  {% endif %}
  <input
    class="uikit-text-input uikit-text-input--block"
    placeholder="{{ include.placeholder }}"
    type="{{ include.type | default: "text" }}"
    id="{{ include.id }}"
    value="{{ include.value | default: "" }}"
    name="{{ include.name | default: name }}"
    {{ required }}
    {% if include.step %}step="{{ include.step }}"{% endif %}
    {% if include.list %}list="{{ include.list }}"{% endif %}
    {% if include.pattern %}data-parsley-pattern="{{ include.pattern }}" pattern="{{ include.pattern }}"{% endif %}
    {% if include.validation_message %}data-parsley-error-message="{{ include.validation_message }}"{% endif %}
     {% if include.parsley_group %}data-parsley-group="{{ include.parsley_group }}"{% endif %}
  />
  {% if include.description %}
    <p class="uikit-text-input__description">{{ include.description }}</p>
  {% endif %}
</p>
